.navbar-form a {
    color: #000;
    text-decoration: none;
}

.navbar-form a:hover {
    color: #000;
}

.ma-efekt {
    transition: all 500ms ease;
    background: green;
    height: 20px;
    width: 45px;
}
.ma-efekt.powieksz {
    width: 200px;
    height: 300px;
    
}

.inwestor {
    
    padding: 10px;
    text-align: center;
}

.mieszkaniec {
    
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

}

.pudelkainwestycje {
    display:block;
    height: 200px;
    width:100%;
    border: solid black;
    
        text-align: center;
    background: transparent url() no-repeat center;
    background-size: cover;
    
   
}

.pudelkainwestycje.w1 {
    background-image: url(http://static.panoramio.com/photos/large/53938661.jpg);

}





    

/*to jest przykłąd, ale nie używajcie hover ;)
.ma-efekt:hover {
    height: 200px;
}
*/

@media (orientation: landscape) {
    /*poziomo trzymane urządzenie*/
}

/*@media (max-width: 800px) {
    .ukryte-ponizej-800 {
        display: none;
    }
}

/*@media (orientation: landscape) and (min-width: 800px) {
    /*poziome i szersze niż 800*/
}